# web server information
PORT=3000
NODE_ENV="development"

# mongodb tenant information
MONGODB_HOST=""
MONGODB_PORT=""
# MONGODB_USERNAME=""
# MONGODB_PASSWORD=""
MONGODB_PROTOCOL="mongodb"
MONGODB_DATABASE=""